html, body{
  height:100%;
  margin:0;
  padding: 0;
}

#logo{
  width: 50px;
}
/*
#jumbotron_health{
  background: url(img/health_banner.jpg) fixed center no-repeat;
  text-align: right;
  color: #017583;
}
*/
#main{
  overflow: auto;
}
