html, body{
  height:100%;
  margin:0;
  padding: 0;
}

#logo{
  width: 50px;
}
#main{
  overflow: auto;
}

#project_par *{
  background-color: #aabedd;
  color: #646566;
  padding: 20px;
  /* margin: 20px white; */
}
