html, body{
  height:100%;
  margin:0;
  padding: 0;
}

#logo{
  width: 50px;
}

#jumbotron_health{
  text-align: right;
}

#main{
  overflow: auto;
}

/* fix larger jumbotron size
.jumbotron{
  height: 500px;
} */
